spring:
  profiles:
    active:
    - dev
---
server: 
  port: 8201
spring:
  profiles: dev  #开发环境
  application:
      name: microservicecloud-config-atguigu-dev
eureka:
  client:
    service-url:
      defaultZone: http://eureka-dev.com:7001/eureka/
---
server: 
  port: 8202
springspring: 
  profiles: test  #测试环境
  application:
       name: microservicecloud-config-atguigu-test  
eureka:
  client:
    service-url:
      defaultZone: http://eureka-test.com:7001/eureka/    
# 请保存为utf-8   
